/* =================================== */
/*  Blog Styles
/* =================================== */


/*************/
.about-banner-4 {
   padding-top: 35px;
   background: url(../img/mini-destinos/Catarata-Villa-Rica/Fotos/6.jpg) center;
   background-size:cover;
   .overlay-bg{
    background: rgba(#04091e,.40);
   }
}
.about-banner-5 {
    padding-top: 35px;
    background: url(../img/mini-destinos/Chaupimayo-B/Fotos/2.jpg) center;
    background-size:cover;
    .overlay-bg{
     background: rgba(#04091e,.40);
    }
 }
 .about-banner-6 {
    padding-top: 35px;
    background: url(../img/mini-destinos/Chinche-Maranura/foto/2.jpg) center;
    background-size:cover;
    .overlay-bg{
     background: rgba(#04091e,.40);
    }
}
.about-banner-7 {
    padding-top: 35px;
    background: url(../img/mini-destinos/Catarata-del-oso/Fotos/2.jpg) center;
    background-size:cover;
    .overlay-bg{
     background: rgba(#04091e,.40);
    }
}
.about-banner-8 {
    padding-top: 35px;
    background: url(../img/mini-destinos/Echarati/fotos/1.jpg) center;
    background-size:cover;
    .overlay-bg{
     background: rgba(#04091e,.40);
    }
}
.about-banner-9 {
    padding-top: 35px;
    background: url(../img/mini-destinos/Forestación-Chichima/pagina-forestacion.jpg) center;
    background-size:cover;
    .overlay-bg{
     background: rgba(#04091e,.40);
    }
}
.about-banner-10 {
    padding-top: 35px;
    background: url(../img/mini-destinos/Idma-esmeralda/destinos-idma-esmeralda.jpg) center;
    background-size:cover;
    .overlay-bg{
     background: rgba(#04091e,.40);
    }
}
.about-banner-11 {
    padding-top: 35px;
    background: url(../img/mini-destinos/Illapani/destinos-Illapani.jpg) center;
    background-size:cover;
    .overlay-bg{
     background: rgba(#04091e,.40);
    }
}
.about-banner-12 {
    padding-top: 35px;
    background: url(../img/mini-destinos/Koribeni/fotos/6.jpg) center;
    background-size:cover;
    .overlay-bg{
     background: rgba(#04091e,.40);
    }
}
.about-banner-13 {
    padding-top: 35px;
    background: url(../img/mini-destinos/Madre-Selva/Fotos/2.jpg) center;
    background-size:cover;
    .overlay-bg{
     background: rgba(#04091e,.40);
    }
}
.about-banner-14 {
    padding-top: 35px;
    background: url(../img/mini-destinos/Parques-Quillbamba/fotos/3.jpg) center;
    background-size:cover;
    .overlay-bg{
     background: rgba(#04091e,.40);
    }
}
.about-banner-15 {
    padding-top: 35px;
    background: url(../img/mini-destinos/mandor/fotos/3.jpg) center;
    background-size:cover;
    .overlay-bg{
     background: rgba(#04091e,.40);
    }
}
.about-banner-16 {
    padding-top: 35px;
    background: url(../img/mini-destinos/Pongo-de-Mainique/fotos/5.jpg) center;
    background-size:cover;
    .overlay-bg{
     background: rgba(#04091e,.40);
    }
}
.about-banner-17 {
    padding-top: 35px;
    background: url(../img/mini-destinos/Quillabamba/fotos/7.jpg) center;
    background-size:cover;
    .overlay-bg{
     background: rgba(#04091e,.40);
    }
}
.about-banner-18 {
    padding-top: 35px;
    background: url(../img/mini-destinos/Rio-Yoyato/Fotos/1.jpg) center;
    background-size:cover;
    .overlay-bg{
     background: rgba(#04091e,.40);
    }
}
.about-banner-19 {
    padding-top: 35px;
    background: url(../img/mini-destinos/Salkanta-desde-Chichima/Fotos/1.jpg) center;
    background-size:cover;
    .overlay-bg{
     background: rgba(#04091e,.40);
    }
}
.about-banner-20 {
    padding-top: 35px;
    background: url(../img/mini-destinos/San-pedro/fotos/1.jpg) center;
    background-size:cover;
    .overlay-bg{
     background: rgba(#04091e,.40);
    }
}
.about-banner-21 {
    padding-top: 35px;
    background: url(../img/mini-destinos/Torontoypata/fotos/6.jpg) center;
    background-size:cover;
    .overlay-bg{
     background: rgba(#04091e,.40);
    }
}
.about-banner-22 {
    padding-top: 35px;
    background: url(../img/mini-destinos/Tunkimayo/fotos/2.jpg) center;
    background-size:cover;
    .overlay-bg{
     background: rgba(#04091e,.40);
    }
}
.about-banner-23{
    padding-top: 35px;
    background: url(../img/mini-destinos/Vuleta-al-Mundo/Fotos/1.jpg) center;
    background-size:cover;
    .overlay-bg{
     background: rgba(#04091e,.40);
    }
}
.about-banner-24{
    padding-top: 35px;
    background: url(../img/mini-destinos/abra-malaga-dia/fotos/7.jpg) center;
    background-size:cover;
    .overlay-bg{
     background: rgba(#04091e,.40);
    }
}
.about-banner-25{
    padding-top: 35px;
    background: url(../img/mini-destinos//abra-malaga-nocturna/destinos--abra-malaga.jpg) center;
    background-size:cover;
    .overlay-bg{
     background: rgba(#04091e,.40);
    }
}
.about-banner-26{
    padding-top: 35px;
    background: url(../img/mini-destinos/alfamayo/destinos-Alfamayo.jpg) center;
    background-size:cover;
    .overlay-bg{
     background: rgba(#04091e,.40);
    }
}
.about-banner-27{
    padding-top: 35px;
    background: url(../img/mini-destinos/amanecer-en-torontoy/fotos/6.jpg) center;
    background-size:cover;
    .overlay-bg{
     background: rgba(#04091e,.40);
    }
}
.about-banner-28{
    padding-top: 35px;
    background: url(../img/mini-destinos/huayllayoc/fotos/5.jpg) center;
    background-size:cover;
    .overlay-bg{
     background: rgba(#04091e,.40);
    }
}
.about-banner-29{
    padding-top: 35px;
    background: url(../img/mini-destinos/reserva/Echiquiato/fotos/2.jpg) center;
    background-size:cover;
    .overlay-bg{
     background: rgba(#04091e,.40);
    }
}
.about-banner-30{
    padding-top: 35px;
    background: url(../img/evento/banner-img.jpg) center;
    background-size:cover;
    .overlay-bg{
     background: rgba(#04091e,.40);
    }
}
/*============ End Blog Single Styles  =============*/